@tailwind base;
@tailwind components;
@tailwind utilities;

:root { color-scheme: light dark; }
body { @apply bg-indigoCRT text-white; }
.btn-start { @apply bg-cyanNeon text-black px-4 py-2 rounded hover:brightness-110; }
.btn { @apply bg-magenta1up text-white px-4 py-2 rounded; }
